<div class="row df-section-partners scroll-class" id="partners">
  <div class="col-12">
    <h1>Our partners and sponsors</h1>
  </div>
  <div class="col-12">
    <h2>General partners</h2>
  </div>
  {{ range $.Site.Data.partners.general }}
  <div class="col-12 col-md-4">
    <a href="{{ .link }}" target="_blank">
      <img width="{{ .width }}" src="{{ .logoUrl }}" alt="{{ .name }}">
    </a>
  </div>
  {{ end }}
  <div class="col-12">
    <h2>Sponsors</h2>
  </div>
  {{ range $.Site.Data.partners.optimal }}
  <div class="col-12 col-md-3">
    <a href="{{ .link }}" target="_blank">
      <img width="{{ .width }}" src="{{ .logoUrl }}" alt="{{ .name }}">
    </a>
  </div>
  {{ end }}
  {{ range $.Site.Data.partners.basic }}
  <div class="col-12 col-md-2">
    <a href="{{ .link }}" target="_blank">
      <img width="{{ .width }}" src="{{ .logoUrl }}" alt="{{ .name }}">
    </a>
  </div>
  {{ end }}
  {{ if $.Site.Data.partners.media }}
  <div class="col-12">
    <h2>Media partners</h2>
  </div>
  {{ range $.Site.Data.partners.media }}
  <div class="col-12 col-md-3">
    <a href="{{ .link }}" target="_blank">
      <img width="{{ .width }}" src="{{ .logoUrl }}" alt="{{ .name }}">
    </a>
  </div>
  {{ end }}
  {{ end }}
</div>
