<div class="df-section-schedule scroll-class" id="schedule">
  {{ range $.Site.Data.schedule }}
  <div class="row">
    <div class="col-12">
      <h1>Schedule</h1>
    </div>
    <div class="col-12 schedule-date">
      <h2>{{ .date }}</h2>
      <div class="line"></div>
    </div>
  </div>
  {{ range .timetable }}
  {{ if eq .type "PROCESS" }}
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="text-left time">{{ .time }}</div>
    </div>
    <div class="col-12 col-md-8">
      <div class="text-left process">{{ .title }}</div>
    </div>
    <div class="col-12">
      <div class="line"></div>
    </div>
  </div>
  {{ end }}
  {{ if eq .type "ONE_TRACK" }}
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="text-left time">{{ .time }}</div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="name">
        <div class="text-left name">{{ .title }}</div>
      </div>
      <div class="author">
        <img src="{{ .imageUrl }}" alt="">
        <div class="author-wrapper">
          <span>{{ .speaker }}</span>
          <a href="https://twitter.com/{{ .twitter }}" target="_blank">
            <span class="df-tag">@{{ .twitter }}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="line"></div>
    </div>
  </div>
  {{ end }}
  {{ if eq .type "THREE_TRACKS" }}
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="text-left time">{{ .time }}</div>
    </div>
  </div>
  <div class="row">
    {{range .talks }}
    <div class="col-12 col-lg-4">
      <div class="bordered-frame">
        <span class="track">//{{ .track }}</span>
        {{ if or (eq .title "Lunch") (eq .title "To be defined") }}
        <div class="name">
          <div class="text-left process">{{ .title }}</div>
        </div>
        {{ else }}
        <div class="name">
          <div class="text-left name">{{ .title }}</div>
        </div>
        {{ if .description }}
        <p>{{ .description }}</p>
        {{ end }}
        <div class="author">
          <img src="{{ .imageUrl }}" alt="">
          <div class="author-wrapper">
            <span>{{ .speaker }}</span>

            {{ if .twitter }}
            <a href="https://twitter.com/{{ .twitter }}" target="_blank">
              <span class="df-tag">@{{ .twitter }}</span>
            </a>
            {{ end }}
            {{ if .manyTwitters }}
            {{range .manyTwitters }}
            <a href="https://twitter.com/{{ . }}" target="_blank">
              <span class="df-tag">@{{ . }}</span>
            </a>
            {{ end }}
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
    <div class="col-12">
      <div class="line"></div>
    </div>
  </div>
  {{ end }}
  {{ end }}
  {{ end }}
</div>
