<div class="df-section-schedule scroll-class" id="schedule">
  {{ range $.Site.Data.schedule }}
  <div class="row">
    <div class="col-12">
      <h1>Schedule</h1>
    </div>
    <div class="col-12 schedule-date">
      <h2>{{ .date }}</h2>
      <div class="line"></div>
    </div>
  </div>
  {{ range .timetable }}
  {{ if eq .type "PROCESS" }}
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="text-left time">{{ .time }}</div>
    </div>
    <div class="col-12 col-md-8">
      <div class="text-left process">{{ .title }}</div>
    </div>
    <div class="col-12">
      <div class="line"></div>
    </div>
  </div>
  {{ end }}
  {{ if eq .type "ONE_TRACK" }}
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="text-left time">{{ .time }}</div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="name">
        <div class="text-left name">{{ .title }}</div>
      </div>
      <div class="author">
        <img src="{{ .imageUrl }}" alt="">
        <div class="author-wrapper">
          <span>{{ .speaker }}</span>
          <a href="https://twitter.com/{{ .twitter }}" target="_blank">
            <span class="df-tag">@{{ .twitter }}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="line"></div>
    </div>
  </div>
  {{ end }}
  {{ if eq .type "THREE_TRACKS" }}
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="text-left time">{{ .time }}</div>
    </div>
  </div>
  <div class="row">
    {{range .talks }}
    <div class="col-12 col-lg-4">
      <div class="bordered-frame">
        <span class="track">//{{ .track }}</span>
        {{ if or (eq .title "Lunch") (eq .title "To be defined") }}
        <div class="name">
          <div class="text-left process">{{ .title }}</div>
        </div>
        {{ else }}
        <div class="name">
          <div class="text-left">{{ .title }}</div>
          {{ if .description }}
          <button type="button" data-toggle="modal" data-target="#{{ .id }}-info">Read more</button>
          {{ end }}
        </div>
        {{ if .description }}
        <!-- Description of the talk (modal dialog) -->
        <div class="modal fade" id="{{ .id }}-info" tabindex="-1" role="dialog" aria-labelledby="modal-title"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="name" id="modal-title">{{ .title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="paragraph-title">About the talk</span>
                      {{ .description }}
                    </div>
                    <div class="col-md-6">
                      {{ if .bio }}
                      <span class="paragraph-title">About {{ .firstName }}</span>
                      {{ .bio }}
                      {{ end }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
        <!-- End of description of the talk -->
        <div class="author">
          <img src="{{ .imageUrl }}" alt="">
          <div class="author-wrapper">
            <span>{{ .speaker }}</span>

            {{ if .twitter }}
            <a href="https://twitter.com/{{ .twitter }}" target="_blank">
              <span class="df-tag">@{{ .twitter }}</span>
            </a>
            {{ end }}
            {{ if .manyTwitters }}
            {{range .manyTwitters }}
            <a href="https://twitter.com/{{ . }}" target="_blank">
              <span class="df-tag">@{{ . }}</span>
            </a>
            {{ end }}
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
    <div class="col-12">
      <div class="line"></div>
    </div>
  </div>
  {{ end }}
  {{ end }}
  {{ end }}
</div>
