{{ range $.Site.Data.tickets }}
{{ if .enabled }}<a style="text-decoration:none; color:inherit;" href="{{ $.Site.Params.sectionTickets.URL }}" target="_blank">{{end}}
<div class="df-ticket-box {{ if .enabled }}enabled{{end}}">
  <div class="df-ticket-type">{{ .type }}</div>
  <div class="df-ticket-price">
    <span>{{ .price }}</span>
  </div>
  <div class="df-ticket-date">
    <span class="subtext">{{ .dateTextAbove }}</span>
    <span>{{ .dateTextBellow }}</span>
  </div>
</div>
{{ if .enabled }}</a>{{end}}
{{end}}
