<div class="df-section-workshops row scroll-class" id="workshops">
  <div class="col-12">
    <h1>Workshops</h1>
  </div>
  <div class="col-12 schedule-date">
    <h2>Saturday, November 17</h2>
    <div class="line"></div>
  </div>
  {{ range $.Site.Data.workshops }}
  <div class="col-12">
    <div class="text-left time">{{ .time }}</div>
  </div>
  <div class="col-12 col-md-4">
    <div class="workshop-name">
      <div class="text-left workshop-name">{{ .name }}</div>
      <div class="workshop-author">
        <img class="round-photo" src="{{ .photo }}" alt="">
        <div class="author-wrapper">
          <span>{{ .mentor }}</span>
          <a href="{{ .url }}" target="_blank">
            <span class="df-tag">@{{ .twitter }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="workshop-de">
      <p>{{ .description }}</p>
    </div>
  </div>
  <div class="col-12 col-md-4 text-center">
    {{ if $.Param "sectionTickets.enabled" }}
    <a class="buy-button" target="_blank" href="{{ $.Param "sectionTickets.URL" }}">Get ticket</a>
    {{ end }}
  </div>
  <div class="col-12">
    <div class="line"></div>
  </div>
  {{end}}
</div>
