<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DevFest Baltics 2018</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <style>
    .df-cover {
      background-image: url('/images/cover.jpg');
    }
  </style>
</head>

<body>
  <div id="df-wrapper" class="">
      <div id="df-sidebar-wrapper">
          <nav class="df-sidebar-nav">
            <a href="#about">About</a>
            <a href="#previous-event">Previous event</a>
            <a href="#tweets">What people say</a>
            <a href="#subscribe">Subscribe for news</a>
          <nav>
      </div>
      <a href class="df-nav-arrow-box" data-toggle="sidebar">
        <img class="df-nav-arrow" src="/images/nav-icon/arrow_right_white.svg" alt="" />
      </a>

    <div class="df-page-content" >
      <div class="container-fluid" >
          
        <!-- Section: Cover -->
        <div class="row scroll-class df-gray" id="cover">
          <div class="col-12 df-cover">
            <div class="row">
              <div class="col-10 col-lg-6 offset-1 offset-lg-2 df-title">
                <img src="/images/logo.png" alt="DevFest Baltics Logo" class="df-logo" />
                <h1>
                  <span class="df-date">NOVEMBER 16, RIGA</span>
                  <span class="df-slogan">#1 Mobile Conference In The Baltics</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container" >
      
        <div class="df-main-content">
          <!-- Section: About -->
          <div class="row df-section-about scroll-class" id="about">
            <div class="col-12 col-md-4">
              <h1>EVENT THAT YOU CAN'T MISS!</h1>
              <p>If you love mobile development DevFest Baltics is the  conference for you! Carefully crafted by the GDG Baltics community you will feel a friendly atmosphere, hear some fresh and hot content and see worldwide known speakers!</p>
            </div>
            <div class="col-12 col-md-4 df-image-container">
              <svg id="mascot" width="167" height="176" viewBox="0 0 167 176">
                <use xlink:href="/images/phonnie-arm-up.svg#Canvas" />
              </svg>
              <!-- <img src="/images/phonnie-arm-up.svg" alt="DevFest Baltics mascot"> -->
            </div>
            <div class="col-12 col-md-4">
              <h1>WHAT YOU WILL LEARN</h1>
              <p>New, hot topics about mobile development, Android and iOS, Mobile Crossplatform tools, UI/UX and prototyping, Internet of Things, VR and AR, bots, AI, ML and more!</p>
            </div>

            
          </div>
          
          <div class="row df-section-about scroll-class" id="figures">
            <div class="col-12 text-center">
                <h1>Devfest Baltics 2018 in numbers</h1>
            </div>
            <div class="col-12 col-md-4 text-center">
              <span class="df-big-numbers">300</span>
              <span>attendies</span>
            </div>
            <div class="col-12 col-md-4 text-center">
              <span class="df-big-numbers">3</span>
              <span>parallel tracks</span>
            </div>
            <div class="col-12 col-md-4 text-center">
              <span class="df-big-numbers">15</span>
              <span>great speakers</span>
            </div>
          </div>

          <!-- Section: Last year videos -->
          <div class="row df-section-videos scroll-class" id="previous-event">
            <div class="col-12">
              <h1>HOW IT WAS LAST YEAR</h1>
            </div>
            <div class="col-12 col-md-4">
              <a href="https://youtu.be/WIJCtyFcPKE" target="_blank">
                <div class="df-video-container">
                  <img class="df-video-preview df-gray" src="/images/video-shot/cejas.jpg" alt="">
                </div>
                <h2>Fernando Cejas</h2>
              </a>
              <a href="https://twitter.com/fernando_cejas" target="_blank">
                <span class="df-tag">@fernando_cejas</span>
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="https://youtu.be/TxfDNzjEH-c" target="_blank">
                <div class="df-video-container">
                  <img class="df-video-preview" src="/images/video-shot/eid.jpg" alt="">
                </div>
                <h2>George Eid</h2>
              </a>
              <a href="https://twitter.com/geid">
                <span class="df-tag">@geid</span>
              </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="https://youtu.be/O-PnVVCc5fY" target="_blank">
                <div class="df-video-container">
                  <img class="df-video-preview" src="/images/video-shot/vixentael.jpg" alt="">
                </div>
                <h2>Anastasiia Vixentael</h2>
              </a>
              <a href="https://twitter.com/vixentael"target="_blank">
                <span class="df-tag">@vixentael</span>
              </a>
            </div>
          </div>

          <!-- Section: Tweets -->
          <div class="row df-section-tweets scroll-class" id="tweets">
            <div class="col-12">
              <h1>What people say</h1>
            </div>
            <div class="col-12 col-md-4">
              <div class="df-tweet-frame">
                <img src="/images/nevercode.jpg" alt="">
                <div class="df-tweet-heading">
                  <h2>Nevercode</h2>
                  <a href="https://twitter.com/nevercodeHQ" target="_blank">
                    <span class="df-tag">@nevercodeHQ</span>
                  </a>
                </div>
                <p>“ Thanks to all the organizers of #DevFestBaltics @gdgriga @gdgDaugavpils @GDGVilnius @GDGTartu & GDG Kaunas - really cool event! See you next time! 🚀 “</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="df-tweet-frame">
                <img src="/images/zhuk-profile.jpg" alt="">
                <div class="df-tweet-heading">
                  <h2>Sergii Zhuk</h2>
                  <a href="https://twitter.com/sergiizhuk" target="_blank">
                    <span class="df-tag">@sergiizhuk</span>
                  </a>
                </div>
                <p>“ Great conference #DevFestBaltics organized by @AlexeyBuzdin, @s_kibish, and #GDG teams #DevFest17 “</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="df-tweet-frame">
                <img src="/images/leiva.jpg" alt="">
                <div class="df-tweet-heading">
                  <h2>Antonio Leiva</h2>
                  <a href="https://twitter.com/vixentael" target="_blank">
                    <span class="df-tag">@lime_cl</span> 
                  </a>
                </div>
                <p>“ It was awesome in many ways, but specially because of how the organizers treated us the speakers. I had
                  never felt so warm. “</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="df-tweet-frame">
                <img src="/images/vixentael.png" alt="">
                <div class="df-tweet-heading">
                  <h2>vixentael</h2>
                  <a href="https://twitter.com/vixentael" target="_blank">
                    <span class="df-tag">@vixentael</span> 
                  </a>
                </div>
                <p>“ Thank you for your time and questions 😻 You are very attentive audience! I’ll share my slides soon #devfestbaltics “</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="df-tweet-frame">
                <img src="/images/cejas-profile.jpg" alt="">
                <div class="df-tweet-heading">
                  <h2>Fernando Cejas</h2>
                  <a href="https://twitter.com/fernando_cejas" target="_blank">
                    <span class="df-tag">@fernando_cejas</span> 
                  </a>
                </div>
                <p>“ Catching up with the #community at @devfestbaltics. Awesome #people. #dev #androiddev #devfestbaltics #DevFest17 “</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="df-tweet-frame">
                <img src="/images/jurgis-profile.jpg" alt="">
                <div class="df-tweet-heading">
                  <h2>Jurgis Kirsakmens</h2>
                  <a href="https://twitter.com/xjki" target="_blank">
                    <span class="df-tag">@xjki</span> 
                  </a>
                </div>
                <p>“ Great talk at #DevFestBaltics by George Eid from @opticalcortex “</p>
              </div>
            </div>
          </div>

          <!-- Section: Figures -->
          <div class="row df-section-figures scroll-class" id="about-previous">
            <div class="col-12 col-md-6 df-sm-article">
              <h2>What to expect</h2>
              <p>Last year we had more than 200 participants. It was a big day full of different activities, contests and communications.</p>
              <p>11 speakers from the different parts of the world shared their knowledge in the Android, iOS, Security and Design areas.</p>
              <p>Massive afterparty in bowling where everyone had fun time enjoying the game and conversations.</p>
              <p>Everyone got new knowledge and had fun! This year we expect even more of everything...</p>
            </div>
          </div>

          <!-- Section: Photos -->
          <div class="row df-section-photos scroll-class" id="photos">
            <div class="col-12 col-md-6">
              <img class="df-gray" src="/images/everyone.jpg" alt="">
            </div>
            <div class="col-12 col-md-6">
              <img class="df-gray" src="/images/vixantael.jpg" alt="">
            </div>
            <div class="col-12 col-md-4">
              <img class="df-gray" src="/images/speakers.jpg" alt="">
            </div>
            <div class="col-12 col-md-4">
              <img class="df-gray" src="/images/partners.jpg" alt="">
            </div>
            <div class="col-12 col-md-4">
              <img class="df-gray" src="/images/cejas.jpg" alt="">
            </div>
          </div>

          <!-- Section: Subscribe -->
          <div class="row df-footer scroll-class" id="subscribe">
            <div class="col-12">
              <h2>Subcribe for news</h2>
            </div>

            <form class="col-12 df-subscribe-form">
              <input type="text" name="email">
              <input type="submit" value="Subscribe">
            </form>

            <div class="col-4">
              <h2>Follow us</h2>
              <div class="df-social-icons">
                <a href="https://twitter.com/devfestbaltics" target="_blank">
                  <img src="/images/social-icons/twitter.png" alt="">
                </a>
                <a href="https://www.facebook.com/DevFestBaltics" target="_blank">
                  <img src="/images/social-icons/facebook.png" alt="">
                </a>
              </div>
            </div>
            <div class="col-4">
              <h2>Organizers</h2>
              <div class="df-logos-container">
                <a href="https://gdgriga.lv/" target="_blank">
                  <img src="/images/logos/gdg-riga.svg" alt="">
                </a>
                <a href="https://gdgriga.lv/" target="_blank">
                  <img src="/images/logos/gdg-daugavpils.svg" alt="">
                </a>
              </div>
            </div>
            <div class="col-4">
              <h2>Partners</h2>
              <div class="df-logos-container">
                <img src="/images/logos/google.svg" alt="">
              </div>
            </div>
          </div>
          <span id="copyright">© 2018</span> 
        </div>
        
      </div>
      
    </div>

    <script src="/js/app.js"></script>
</body>

</html>
