@keyframes wavingLeft {
    0% {
        transform: rotate(-45deg)
    }
    5% {
        transform: rotate(0)
    }
    10% {
        transform: rotate(-35deg)
    }
    15% {
        transform: rotate(0)
    }
    20% {
        transform: rotate(-20deg)
    }
    25% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(-45deg)
    }
    70% {
        transform: rotate(-38deg)
    }
    100% {
        transform: rotate(-45deg)
    }
}

@keyframes wavingRight {
    0% {
        transform: rotate(45deg)
    }
    5% {
        transform: rotate(0)
    }
    10% {
        transform: rotate(35deg)
    }
    15% {
        transform: rotate(0)
    }
    20% {
        transform: rotate(20deg)
    }
    25% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(45deg)
    }
    70% {
        transform: rotate(38deg)
    }
    100% {
        transform: rotate(45deg)
    }
}


#left-hand {
    transform-origin: 16% 67% 0;
    animation: wavingLeft 2s ease-in-out infinite;
}

#right-hand {
    transform-origin: 67% 65% 0;
    animation: wavingRight 2s ease-in-out infinite;
}