@import 'colors.scss';
@import 'mixins.scss';

#df-sidebar-wrapper {
    z-index: 1;
    overflow-y: auto;
    position: fixed;
    width: 0;
    height: 100%;
    @include transition(width 0.5s ease);

    .df-sidebar-nav {
        position: absolute;
        margin: 0;
        padding: 1em;
        list-style: none;
        display: none;

        li {
            padding: 1em 0;

            a {
                font-family: 'Roboto Mono', monospace;
                font-weight: 500;
                font-size: 1.2rem;
                text-decoration: underline;
                text-transform: uppercase;
    
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.df-nav-arrow {
    position: fixed;
    height: 2em;
    margin-top: 1em;
    z-index: 1;
    @include transition(transform 0.5s ease);
}

#df-wrapper.toggled {

    .df-nav-arrow {
        transform: rotate(180deg);
    }

    #df-sidebar-wrapper {
        width: 10em;

        .df-sidebar-nav {
            display: block;
        }
    }
}
 
