@import 'colors.scss';
@import 'mixins.scss';
@import '~bootstrap/scss/mixins/_breakpoints';

$nav-bar-width: 10em;

#df-sidebar-wrapper {
    z-index: 2;
    overflow-y: auto;
    position: fixed;
    width: 0;
    height: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    @include transition(width 0.5s ease);

    .df-sidebar-nav {
        position: absolute;
        margin: 0;
        padding: 1em;
        list-style: none;
        display: none;

            a {
                padding: 1em 0;
                font-family: 'Roboto Mono', monospace;
                font-weight: 500;
                font-size: 1.2rem;
                text-decoration: underline;
                text-transform: uppercase;
                color: inherit;
                display: block;
    
                &:hover, &.active {
                    text-decoration: none;
                }
            }
    }
}

.df-nav-arrow-box {
    position: fixed;
    margin-left: 0em;
    margin-top: 1em;
    z-index: 2;
    @include transition(transform 0.5s ease);

    .df-nav-arrow { 
        height: 2em;
        @include transition(transform 0.5s ease);
    }
}


#df-wrapper.toggled {
    .df-nav-arrow-box {
        margin-left: calc(#{$nav-bar-width} - 2em);

        .df-nav-arrow {
            transform: rotate(180deg);
        }
    }

    #df-sidebar-wrapper {
        width: $nav-bar-width;

        .df-sidebar-nav {
            display: block;
        }
    }
}
 
@include media-breakpoint-up(lg) {
    #df-sidebar-wrapper {
        box-shadow: none;
    }  
}


