@import 'colors.scss';

.df-nav-container {
    i {
        color: $ideal-white;
    }
}

.df-nav {
    a {
        font-family: 'Roboto Mono', monospace;
        font-weight: 500;
        font-size: 1.2em;
        text-transform: uppercase;
        text-decoration: none;
        color: $ideal-white;
    }
}