.df-section-schedule {
  color: #e1f5fe;
}

.talk {
  border: 0.2em solid;
  border-color: rgba(225, 245, 254, 0.45);
  padding: 0.7em;
  min-height: 266px;
}

.talk-hidden {
  border: 0.2em solid;
  border-color: rgba(225, 245, 254, 0.45);
  padding: 0.7em;
  min-height: 266px;
  color: rgba(225, 245, 254, 0.45);
  background: rgba(225, 245, 254, 0.45);
}
