@import 'colors.scss';

.df-cover {
    padding-top: 6em;
    height: 100vh;
    margin-bottom: 3em;
    background-size: cover;

    .df-logo {
        margin-bottom: 3em;
        height: 4em;
        transform: translate(-1.9em);

        @include media-breakpoint-up(sm) {
            & {
                height: 6em;
                transform: translate(-2.7em);
            }
        }
    }

    h1 {
        span {
            display: block;
        }

        .df-slogan {
            text-decoration: none;
        }
    }
}
