@import 'colors.scss';

.df-section-about {
    a {
        color: $punk-pink;
        font-weight: 600;
        letter-spacing: 0.02em;
        text-decoration: underline;
    }
    .df-image-container {
        text-align: center;
        svg {
            @include media-breakpoint-down(sm) {
                width: 50%;
            }
        }

    }
}
