@import 'colors.scss';

.df-section-schedule {
  color: inherit;
}

.talk {
  border: 0.2em solid;
  border-color: rgba(225, 245, 254, 0.45);
  padding: 0.7em;
  min-height: 266px;
}

.talk-hidden {
  border: 0.2em solid;
  border-color: rgba(225, 245, 254, 0.45);
  padding: 0.7em;
  min-height: 266px;
  color: inherit;
  background: rgba(225, 245, 254, 0.45);
}

.schedule-date {
  padding-bottom: 1rem;
}

#workshops {
  .workshop-name {
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    margin-bottom: 2em;
    max-width: 20ch;
  }

  .workshop-author {
    display: flex;
    align-items: center;

    img {
      width: 30%;
    }

    .author-wrapper {
      display: inline-block;
      padding-left: 1em;
    }

    span,
    a {
      text-transform: none;
      display: block;
      text-decoration: none;
      color: inherit;
    }
  }
}

// Everywhere else row padding is set to "6em 0", but here we don't need it
body #df-wrapper .df-main-content #schedule {
  .row {
    padding: 0;
    justify-content: stretch;
  }
}

#schedule {
  padding: 6em 0;

  .bordered-frame {
    height: 100%;
  }

  .time {
    font-family: 'Roboto Mono', monospace;
  }

  .track {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 0.9em;
    opacity: 0.5;
    text-transform: uppercase;
  }

  .process {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    letter-spacing: -0.05em;
  }

  .name {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    margin-bottom: 2em;
    letter-spacing: -0.05em;
  }

  p {
    opacity: 0.8;
  }

  .author {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;

    img {
      width: 15%;
      border-radius: 50%;

      @include media-breakpoint-up(lg) {
        & {
          width: 30%;
        }

      }
    }

    .author-wrapper {
      display: inline-block;
      padding-left: 1em;
    }

    span,
    a {
      text-transform: none;
      display: block;
      text-decoration: none;
      color: inherit;
    }
  }
}
