.df-section-speakers {
  img {
    border: 0.2em solid;
    border-color: rgba(225, 245, 254, 0.45);
    width: 50%;
    margin-bottom: 2em;
  }

  p {
    max-width: 30ch;
  }

  a {
    color: inherit;
  }
}
