.df-button {
    background: inherit;
    height: 2.5em;
    color: inherit;
    padding: 0.5em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 0.9em;
    border: 3px solid;
    border-color: inherit;
    box-sizing: content-box;
}

a.df-button {
    text-decoration: none;
}