.df-button {
  background: inherit;
  height: 2.5em;
  color: inherit;
  padding: 0.5em;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 0.9em;
  border: 3px solid;
  border-color: inherit;
  box-sizing: content-box;
}

a.df-button {
  text-decoration: none;
}

.round-photo {
  border-radius: 50%;
  border: 3px solid;
}

.buy-button {
  background: inherit;
  padding: 0.5em;
  color: inherit;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 0.9em;
  border: 3px solid;
  box-sizing: content-box;
}

.line {
  margin-top: 1em;
  border-bottom: 3px solid;
  color: inherit;
  width: 100%;
  opacity: 0.3;
}

.bordered-frame {
  border: 0.2em solid;
  width: 100%;
  padding: 1em;
}
